<header>
  <div class="container">
      <a href="#" class="logo">Dashboard</a>
      <nav>
        <ul>
          <li><a href="#" routerLink="/">Home</a></li>
          <li><a href="#" routerLink="/list">List</a></li>
        </ul>
      </nav>
  </div>
</header>
<div class="container">
  <router-outlet></router-outlet>
</div>