/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap')

$primary: darkblue

body 
    color: grey
    margin: 0
    font-family: 'Playfair Display', serif

.container
    width: 80%
    margin: 0 auto

header
    background: $primary
    padding: .7em 0

    a
        color: white
        text-decoration: none
    
    a.logo 
        font-weight: bold

    nav 
        float: right

        ul 
            list-style-type: none
            margin: 0
            display: flex

            li a
                padding: .7em

                &:hover
                    background: darken($primary, 10%)


.h1
    margin-top: 2em