<h1>Hello and Welcome</h1>
<div class="play-container">
    <p>you clicked <span (click)="countClick()">this</span> {{clickCounter}} times.</p>
</div>

<div class="play-container">
    <p>
        <input type="text"[(ngModel)]="name">
        <br>
        <strong>You said:</strong> {{name}}
    </p>
</div>

<!-- <div class="play-container" [style.background-color]="clickCounter > 4 ? 'yellow' : 'lightgray'"> -->
<div class="play-container" [ngStyle]="{
    'background-color' : clickCounter > 4 ? 'yellow' : 'lightgray',
    'border' : clickCounter > 4 ? '4px solid blue' : 'none'
}">
    <ng-template [ngIf]='clickCounter > 4' [ngIfElse]='none'>
        <p>the click counter <strong>Is Greater</strong> than 4</p>
    </ng-template>
    <ng-template #none>
        <p>the click counter <strong>Is Not Greater</strong> than 4</p>
    </ng-template>
</div>